.comming-soon{ display:inline-block; width:100%; text-align:center;}
.comming-soon .logo {
    display: inline-block;
    float: none;
    width: auto;
}
.coming-content {
    background: url("../images/comingsoon.jpg") no-repeat scroll center center;
    border-top: 5px solid #FE5252;
    display: inline-block;
    margin-top: 25px;
    padding: 50px 0;
    width: 100%;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
.comming-soon h2 , .comming-soon h3 {
    background:#FE5252; 
	color:#fff;
    display: inline-block;
    font: 200 36px/1.3 'Source Sans Pro',sans-serif;
    margin: 0 0 15px;
    padding:10px 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.comming-soon h3{font: 200 25px/1.3 'Source Sans Pro',sans-serif;}
.comingInner{display:inline-block; width:100%; text-align:center;}
.styled{display:inline-block; padding:50px 0;}
.styled div{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #FE5252;
    border-radius: 100% 100% 100% 100%;
    color: #FE5252;
    float: none;
    font-size: 35px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    width: 100px;
	display:inline-block;
}
.styled div strong {
    display: inline-block;
    padding-top: 18px;
}
.styled div span {
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    width: 100%;
}
.comming-soon input {
    border-radius: 20px 20px 20px 20px;
    margin-right: 10px;
    padding: 12px;
    width: 300px;
}