@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.clearfix:after, form:after, .row-fluid:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
em {
    color: #FF0000;
    font-size: 18px;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,textarea {
	font: 12px/20px;
	font:inherit;
	resize:none;
}

* { _noFocusLine: expression(this.hideFocus=true); } /* Removes dotted lines around links */

/*-----------------------heading---------------------*/
h2 {
    color: #BF3D3D;
    font: 200 36px/1.3 'Source Sans Pro',sans-serif;
    margin: 0 0 15px;
}

h3 {
    color: #BF3D3D;
    font: 400 24px/1.3 'Source Sans Pro',sans-serif;
    margin: 0 0 15px;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Document Setup (body, common classes, structure etc)
/*-----------------------------------------------------------------------------------*/

#wrapper {
	background:#fff;
	position:relative;
}

a {
	text-decoration:none;
}

a:focus , a:link, a:active {
	outline:none;
}

a:hover {
	color:#444;
}

.aligncenter {
	text-align:center;
}

.alignleft {
	text-align:left;
}

.alignright {
	text-align:right;
}

strong {
	font-weight:700;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.bgwidth {
	width: 100%;
	height:auto;
}

.bgheight {
	height: 100%;
	width:auto;
}

.left{float:left;}

.right{float:right!important;}

.floatNone{float:none;}


label {
    color:#7F7F7F;
    display:block;
    font-weight:normal;
}

label.error {
    color: red;
    font-style: italic;
    margin: 5px 0 10px 0;
}

input[type="text"], input[type="password"], input.text, input.title, textarea, select {
    background:#FFFFFF;
    border:1px solid #EBEBEB;
	padding:12px 3%;
	width:94%;
}

input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border:1px solid #EBEBEB;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

input[type="text"], input[type="password"], input.text, input.title, textarea, select {
    font-family:Arial;
    font-size:12px;
    margin:5px 0;
}

input.text, input.title, select {
    padding:5%;
    width:89%;
}
select {
    padding:3% 5%;
    width:89%;
	color:#666;
}

input.title {
    font-size:13px;
}

textarea {
    height:130px;
    padding:2% 2%;
    width:95.5%;
}

form.inline {
}

form.inline p {
    margin-bottom:0;
}
.row{display:inline-block; width:100%; margin:30px 0 0 0; float:left;}
body {
	font: 12px/1.3 'Telex', sans-serif, Helvetica, Arial, sans-serif;
	background:#fff;
	margin:0;
	padding:0;
	color:#939393;
}

#wrapper {
	background:#fff;
	position:relative;
}

a {
	text-decoration:none;
	color:#BF3D3D;
}

a:focus , a:link, a:active {
	outline:none;
}

a:hover {
	color:#444;
}

p {
	margin-bottom:20px;
	line-height:20px;
}

.clear {
	clear:both;
}

.aligncenter {
	text-align:center;
}

.alignleft {
	text-align:left;
}

.alignright {
	text-align:right;
}

strong {
	font-weight:700;
}

.contentBox{
    margin: 0 auto;
    width:1180px;
	padding:0 10px;
}
/*button*/
.button{
	background:#BF3D3D;
	color:#fff;
	font-size:14px;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	padding:10px 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	cursor:pointer;
	display:inline-block;
	border:none;
}
.btn-green{
	background:#b3db69;
	color:#54770F;
	text-shadow:0 1px 0 #FFFFFF;
}
.btn-magenta{
	background:#fc7f7f;
	color:#9d1111;
	text-shadow:0 1px 0 #FFFFFF;
}
.btn-pink{
	background:#ff0036;
	color:#a31366;
	text-shadow:0 1px 0 #FFFFFF;
}
.btn-red{
	background:#fc9dd3;
	color:#9d1111;
	text-shadow:0 1px 0 #FFFFFF;
}
.btn-yellow{
	background:#f8c159;
	color:#c0830b;
	text-shadow:0 1px 0 #FFFFFF;
}
.btn-gray{
	background:#b1b1b1;
	color:#434c50;
	text-shadow:0 1px 0 #FFFFFF;
}
.btn-blue{
	background:#7cc9f1;
	color:#1172c1;
	text-shadow:0 1px 0 #FFFFFF;
}
.btnLarge{
    font-size: 16px;
    padding: 15px 20px;
}
.btnExtLarge{
    font-size:20px;
    padding: 15px 20px;
}
.btnSmall{
    font-size: 12px;
    padding: 6px 10px;
}
.button:hover{color:#666; background:#eee;}
/*End button*/

/*header*/
#header {
    position: relative;
    z-index:99;
}
.headerTop {
    background: none repeat scroll 0 0 #BF3D3D;
    padding-top: 4px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.headerTopLine {
    background: none repeat scroll 0 0 #BF3D3D;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    height: 5px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*Start language*/
.language {
    float: left;
    padding:20px 0;
	color:#fff;
	position:relative;
}
.language span {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
.language h4 {
    background: url("../images/local.png") no-repeat scroll right -102px transparent;
    cursor: pointer;
    float: left;
    padding-right: 20px;
}
.language ul{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 58px;
    width:150px;
	color:#939393;
}
.language ul li{display:inline-block; padding:0 0 5px 0; width:100%;}
.language ul li a{color:#939393;}
.language ul li.active a{color:#BF3D3D;}
/*End language*/

/*Currency*/
.currency {
    float: left;
    padding:20px 0;
	color:#fff;
	margin-left:25px;
	position:relative;
}
.currency span {
    margin-right: 10px;
}
.currency h4 {
    background: url("../images/local.png") no-repeat scroll right -103px transparent;
    cursor: pointer;
    float: left;
    padding-right: 12px;
}
.currency ul{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 58px;
    width:150px;
	color:#939393;
}
.currency ul li{display:inline-block; padding:0 0 5px 0; width:100%;}
.currency ul li a{color:#939393;}
.currency ul li.active a{color:#BF3D3D;}
/*End currency*/

/*top links*/
ul#topLinks{float:right; color:#fff;}
ul#topLinks li{float:left; margin-right:25px; padding:20px 5px;}
ul#topLinks li a{color:#fff;}
/*End top links*/

/*Mini cart*/
.cartBox {
    color: #FFFFFF;
    float: right;
    padding: 13px 5px;
	z-index:1500;
	position:relative;
}
.cartIcon {
    background: url("../images/local.png") no-repeat scroll left -50px transparent;
    float: left;
    height: 24px;
    width: 18px;
}
.cartBox h4 {
    float: left;
    padding: 6px 0 6px 10px;
}
.cartContent {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 58px;
    width: 292px;
}
.cartContent .itemAdded{
    background: none repeat scroll 0 0 #6CBE42;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    text-transform: none;
}
.cartContent ul li{
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.cartContent .product-image {
    border: 1px solid #DDDDDD;
    float: left;
    height: 50px;
    padding: 5px;
    width: 50px;
}
.miniProDetail{
    margin-left: 75px;
    text-align: left;
	color:#BF3D3D;
}
.productName a {
    color: #000000;
    line-height: 20px;
    text-decoration: none;
}
.btn-remove {
    background: url("../images/local.png") no-repeat scroll 3px -727px #F96E4C;
    display: block;
    float: right;
    font-size: 0;
    height: 10px;
    line-height: 0;
    margin-left: 5px;
    overflow: hidden;
    padding: 3px;
    text-indent: -999em;
    width: 10px;
}
.btn-edit {
    background: url("../images/local.png") no-repeat scroll -38px -752px #6CBE42;
    display: block;
    float: right;
    font-size: 0;
    height: 10px;
    line-height: 0;
    overflow: hidden;
    padding: 3px;
    text-indent: -999em;
    width: 10px;
}
.actionCheckout {
    border-top: 1px solid #CCCCCC;
    display: inline-block;
    padding: 10px 0 5px;
    width: 100%;
}
.subtotal {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0;
    padding: 10px 0 15px;
    text-align: center;
    width: 98%;
	color:#999;
}
/*End mini cart*/

/*Header left*/
.headerLeft{
    float: left;
    padding:0 0 0 90px;
	margin-top:70px;
    width: 300px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	text-align:center;
	border-right:1px solid #e9e9e9;
}
.headerLeft p{
	color:#000000;
	border-bottom:1px solid #e9e9e9;
	padding:15px 0;
	margin:0px;
}
.headerLeft p.last{border:none;}
/*End header left*/

/*Header right*/
.headerRight{
    float: right;
    padding:0 90px 0 0;
	margin-top:70px;
    width: 300px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	text-align:center;
	border-left:1px solid #e9e9e9;
}
.headerRight p{
	color:#000000;
	border-bottom:1px solid #e9e9e9;
	padding:15px 0;
	margin:0px;
}
.headerRight p.last{border:none;}

/*search*/
.search {
    display: inline-block;
    text-align: center;
	padding:15px 0;
}
.searchInner{
    border: 1px solid #D1D1D1;
    height: 28px;
    width: 248px;
}
.button-search {
    background: url("../images/local.png") no-repeat scroll -15px 2px transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 6px;
    outline: medium none;
    text-indent: -9999px;
    width: 16px;
}
.search input {
    border: medium none;
    padding: 2px;
    width: 215px;
}
.search input:focus{border:none; box-shadow:none;}
/*end search*/

/*End header right*/

/*logo*/
.logo {
    display: block;
    float: left;
    margin-top: 30px;
    text-align: center;
    width: 390px;
}
/*End logo*/

/*end header*/

/*--------col setting---------*/
.col4{width:267px; padding:10px; margin:10px 10px 10px 0; text-align:center; float:left;}
.col3{width:366px; padding:10px; margin:10px 10px 10px 0; text-align:center; float:left;}
.col2{width:565px; padding:10px; margin:10px 10px 10px 0; text-align:left; float:left;}
.col{width:1160px; padding:10px; margin:10px 0; text-align:left; float:left;}

.s-col{width:860px; padding:10px; margin:10px 0 10px 0; text-align:left; float:left;}
.s-col2{width:415px; padding:10px; margin:10px 10px 10px 0; text-align:left; float:left;}
.s-col3{width:266px; padding:10px; margin:10px 10px 10px 0; text-align:left; float:left;}
.s-col4{width:192px; padding:10px; margin:10px 10px 10px 0; text-align:left; float:left;}

/*--------Emd setting---------*/

/*--------Staic content---------*/
.last{margin-right:0px;}
.staticBox i{
    display: block;
    margin: 15px 0;
}
.staticBox p{
    font-size: 14px;
    line-height: 25px;
}
/*--------End Staic content---------*/

/*--------Staic content 2---------*/
.col2.last{margin-right:0px;}
.staticBox2 a.serviceInfo {
    background-color: #BF3D3D;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 45px;
    height: 90px;
    line-height: 90px;
    margin: 15px 0;
    text-align: center;
    width: 90px;
	position:relative;
}
.staticBox2 h2{margin-left:110px;}
.staticBox2 p{
    font-size: 14px;
    line-height: 25px;
	margin-left:110px;
}
.staticBox2 a{color:#BF3D3D;}
/*--------End Staic content 2---------*/

/*--------Accordion---------*/
.accordion .accordion_head {
    background: url("../images/local.png") no-repeat scroll 10px -531px #BF3D3D;
    border-bottom: 1px solid #FE7272;
    border-top: 1px solid #FE1D1D;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 10px 10px 40px;
}
.accordion .accordion_head.active {
    background: url("../images/local.png") no-repeat scroll -25px -581px #BF3D3D;
}
.accordion .accordion_content {
    background: none repeat scroll 0 0 #F9F9F9;
    line-height: 25px;
    margin: 0;
    padding: 10px;
}
/*--------End accordion---------*/


/*----------Price table-----------*/
.priceTable{margin:20px 0;}
.priceBox {
    border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
    box-shadow:2px 0 5px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:2px 0 5px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:2px 0 5px 0 rgba(0, 0, 0, 0.1);
    width: 290px;
	text-align:center;
	float:left;
}
.priceBox.first{
	box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.15);
}
.priceHeading {
    position: relative;
    text-align: center;
}
.priceHeading h2 {
    background: none repeat scroll 0 0 #D1CFCF;
    border-radius: 15px 15px 0 0;
    color: #FFFFFF;
    font:600 18px/1.3 'Source Sans Pro',sans-serif;
    padding: 15px 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.priceHeading span {
    background: none repeat scroll 0 0 #D1CFCF;
    bottom: -13px;
    float: left;
    height: 25px;
    left: 135px;
    position: absolute;
    transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    width: 25px;
}
.priceBox ul {
    padding: 20px;
    text-align: center;
}
.priceBox ul li{border-bottom:1px solid #ececec; padding:12px 0; font:200 18px/1.3 'Source Sans Pro',sans-serif; color:#666;}
.priceBox ul li.last{border:none;}
.priceButton{
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}
.priceBox .pricePlan {
    color: #666666;
    font-size: 36px;
    font-weight: bold;
    padding: 0 4px;
}
.priceBox.active{
    background: none repeat scroll 0 0 #BF3D3D;
    margin: -30px;
    padding: 30px;
    position: relative;
    z-index: 1500;
}
.priceBox.active .priceHeading span {
    display: none;
}
.priceBox.active .priceHeading h2{background:none; font:200 30px/1.3 'Source Sans Pro',sans-serif; text-shadow:none;}
.priceBox.active ul {
    padding: 0 0 20px;
    text-align: center;
}
.priceBox.active ul li {
    border-bottom: 1px solid #FE7272;
	border-top: 1px solid #FE1D1D;
    color: #fff;
}
.priceBox.active ul li.first {
    border-top: medium none;
    font-size: 30px;
    padding-top: 0;
}
.priceBox.active ul li.last{border-bottom:none;}
.priceBox.active .pricePlan {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    padding: 0 4px;
}
.priceBox.active .priceButton {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    margin: 0;
}
/*----------End price table-----------*/


/*----------Our work-----------*/
.ourWork{margin:25px 0 0 0;}
.workText{float:left; width:590px; margin:50px 0;}
.workText p{font-size:14px; line-height:25px;}

#workfolio{float:left; width:590px; margin:35px 0; text-align:center; position:relative;}
/*----------End our work-----------*/


/*----------Tab folio-----------*/
.tabFolio{margin:25px 0 0 0;}
ul#tabfolio{
    float: left;
    width: 300px;
}
ul#tabfolio li a{display:block; padding:15px; color:#fff; background:#BF3D3D; border-bottom:1px solid #FE7272; border-top:1px solid #FE1D1D; }
ul#tabfolio li a.active{ background:#F9F9F9; color:#666; cursor:default;}
.tabDetail{
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #BF3D3D;
    display: block;
    float: left;
    padding: 20px;
    width: 840px;
}
.tabDetail img{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    margin: 0 20px 20px 20px;
    max-width: 200px;
}
.tabDetail p{line-height:25px;}
/*----------End tab folio-----------*/


/*-------Our team---------*/
.teamfolioBox{padding:25px 0 0 0;}
li.teamfolioContent{padding:15px 0; border-top:1px solid #BF3D3D; display:inline-block;}
li.teamfolioContent h3{float:left; width:700px; margin:0px; padding:0; color:#666;}
.folioSlider .snap {
    border: 5px solid #FFFFFF;
    border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    float: right;
    height: 250px;
    margin:15px 55px;
    overflow: hidden;
    width: 250px;
}
.folioSlider .snap img{width:100%;}
.folioSlider blockquote {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #666666;
    float: left;
    font-size: 14px;
    line-height: 25px;
    margin-top: 15px;
    padding: 25px;
    width: 700px;
	position:relative;
}
.folioSlider blockquote:before {
    background: none repeat scroll 0 0 #F9F9F9;
    bottom: 100px;
    content: "";
    display: block;
    height: 60px;
    margin: 0 0 0 -7.5px;
    position: absolute;
    right: -28px;
    transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    width: 60px;
    z-index: 1;
}
.folioSlider blockquote p{margin:15px 0; color:#BF3D3D; font-weight:400;}
/*----------End our team------------*/

/*-------Blog row----------*/
.blogRow{ margin:15px 0;}
.blogRow section{text-align:left; line-height:25px;}
.recentNews p {
    color: #333333;
    line-height: 20px;
    margin: 0 0 5px;
}
.recentNews strong{font-weight:normal; color:#BF3D3D;}
.recentNews ul li{
    border-bottom: 1px dashed #D1CFCF;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.recentNews ul li.last{border:none;}
.testimonials p{padding:20px; background:#f7f5f5; margin-bottom:0px; float:left;}
.testimonials span {
    background: url("../images/local.png") no-repeat scroll right -203px transparent;
    color: #BF3D3D;
    float: left;
    font-size: 14px;
    padding:10px 25px;
}
/*-------End blog row----------*/

/*--------Social blog--------*/
.socialBlock {
    display: inline-block;
    margin: 15px 0;
}
.twitterBlock{float:left; width:720px;}
.tweet{
	background-color:#BF3D3D;
	background-image:url(../images/twitter.png);
	background-repeat:no-repeat;
	background-position:30px center;
	min-height:115px;
	width:720px;
	float:left;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.tweet a {
	color: #FFF;
}
.tweet small {
	display: block;
	margin-top: 5px;
}
ul.tweet_list {
    background: none repeat scroll 0 0 #F7F5F5;
    margin-left: 115px;
}
ul.tweet_list li a{color:#484848; text-decoration:none;}
ul.tweet_list li > a, ul.tweet_list li .tweet_time a{color:#BF3D3D; text-decoration:none;}
.tweet_text {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.tweet_time, .tweet_action{padding:0 25px 0 0; color:#BF3D3D;}
#ticker ul.tweet_list {
    position: absolute;
}
.tweet_list li {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding:20px;
	height:72px;
}
#twitter_list_1 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    padding: 40px 20px 20px 121px;
}
#twitter_list_1 small a{
    color: #DDDDDD;
}
#ticker {
    overflow-y: hidden;
    position: relative;
}
/*--------End  Social-------*/

/*-------Newsletter--------*/
.newsletter{
    float: left;
    margin-left: 30px;
}
.newsletter h2{margin-bottom:6px;}
.newsletter label{color:#454545;}
.newsletter input {
    border: 1px solid #DDDDDD;
    float: left;
    padding: 11px 10px;
    width: 306px;
}
.newsletter button{border:none; background:#BF3D3D; color:#fff; font-size:14px; text-align:center; padding:10px; float:left; margin:5px 0; cursor:pointer;}
/*-------End newsletter--------*/

/*--------client slider-----------*/
.clientSlider {
    margin: 25px 0;
    position: relative;
}
.clientSliderBox{display:inline-block; width:100%; padding:10px 0; margin:15px 0; min-height:85px;}
#clientS li{float:left; margin:0 15px;}
.next, .prev {
    background: none repeat scroll 0 0 #BF3D3D;
    color: #FFFFFF;
    float: left;
    font-family: Comic Sans MS;
    height: 20px;
    line-height: 18px;
    margin: 5px;
    text-align: center;
    width: 20px;
	position:absolute;
	right:0px;
	top:20px;
}
.prev{right:25px;}
/*--------End client slider-----------*/

/*--------Footer--------*/
footer{
    background: none repeat scroll 0 0 #3B3B3B;
    color: #999999;
    padding: 50px 0;
	position:relative;
	display:inline-block;
	width:100%;
	vertical-align:top;
}

footer section{width:280px; float:left; margin-right:20px;}
footer section.last{margin-right:0px;}
footer div.heading {
    border-bottom: 1px solid #4B4B4B;
    margin-bottom:12px;
    padding: 0;
}
footer h4 {
    border-bottom: 1px solid #BF3D3D;
    color: #DBDBDB;
    display: inline-block;
    font-weight: normal;
    margin-bottom: -1px;
    padding: 14px 20px 14px 0;
	text-transform:uppercase;
}
.flickr-feed a{margin:0 8px 8px 0; float:left;}
.flickr-feed img{max-width:62px;}
.flickr-feed a {
    float: left;
	margin:0 8px 8px 0;
    opacity: 0.5;
    transition: opacity 0.31s ease 0s;
}
.flickr-feed a:hover {
    opacity: 1;
}
section.impLink ul li, section.getinTouch ul li{ border-bottom:1px solid #464646;}
section.impLink ul li a, section.getinTouch ul li a{
    color: #999999;
    display:inline-block;
    padding: 10px;
}
section.impLink ul li a:hover, section.getinTouch ul li a:hover{color:#fff;}
section.impLink ul li.last,  section.getinTouch ul li.last{border:none;}
#footer:before {
    background: none repeat scroll 0 0 #3B3B3B;
    bottom: -8px;
    content: "";
    display: block;
    height: 15px;
    left: 50%;
    margin: 0 0 0 -7.5px;
    position: absolute;
    transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    width: 15px;
	z-index:1500;
}
section.getinTouch ul li.f-phone i {
    font-size: 15px;
}
section.getinTouch ul li.f-mail i {
    font-size: 13px;
}
section.getinTouch ul li.f-fax i {
    font-size: 15px;
}
section.getinTouch ul li.f-map i {
    font-size: 15px;
}
footer#footerBottom{padding:15px 0; background:#333333;text-align:center;}
footer#footerBottom p {
    float: left;
    margin: 0;
    padding: 10px 0;
}
footer#footerBottom ul{float:right;}
footer#footerBottom .comminFooter{text-align:center;}
footer#footerBottom .comminFooter ul{float:none; display:inline-block;}
footer#footerBottom .comminFooter p{float:none;}
footer#footerBottom ul li{float:left;}
footer#footerBottom ul li a {
    color: #8C8C8C;
    display: block;
    font-size: 16px;
    padding: 10px 15px;
}
footer#footerBottom ul li a:hover{color:#fff;}
footer#footerBottom ul li.last a{margin-right:0px;}
#footerBottom span {
    font-family: Telex, sans-serif, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 20px;
    line-height: 40px;
}

/*--------End footer--------*/

/*-------Mobile menu-------*/
.mobMenu.span12 {
    display: table;
    float: none;
    margin: 0 auto;
	width:98%;
}
.parallexFixMenu #mobMenu.contentBox{padding:0px;}
.mobMenu h1 {
    background:#BF3D3D;
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
#menuInnnerMob {
    box-shadow: 0 0 10px 0 #CCCCCC;
	display:none;
}
.accordionMob {
    margin-bottom: 20px;
}
.accordionMob li {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.accordionMob a {
    border-bottom: 1px solid #EEECE7;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 12px;
    padding: 8px 10px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.accordionMob ul {
    display: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.accordionMob em.open-close {
    background: url("../images/mobileIcons.png") no-repeat scroll 17px -39px transparent;
    padding: 8px 21px;
    position: absolute;
    right: 0;
    top: 0;
}
.accordionMob li.active > em.open-close {
	background: url("../images/mobileIcons.png") no-repeat scroll -35px -82px transparent;
}
.accordionMob li ul li {
    background: none repeat scroll 0 0 #F7F6F4;
}
.mobMenu h1 a.menuBox {
    background: url("../images/mobileIcons.png") no-repeat scroll -35px 0 transparent;
    float: right;
    font-size: 0;
    height: 22px;
    margin-top: 3px;
    padding-right: 10px;
    width: 27px;
}
.mobMenu h1 span {
    color: #FFFFFF;
    float: left;
    padding-left: 10px;
}

.contentBox#mobMenu{display:none;}

/*-------Main content with sidebar------*/
.colMain{width:880px;}
/*-------End main content with sidebar------*/

/*------sidebar------*/
.siderbar{width:280px; margin-top:20px;}
.colRight{float:right; margin-left:20px;}
.colLeft{float:left; margin-right:20px;}
.siderbar .block-title{font-size:15px; font-weight:bold; color:#BF3D3D; padding-left:5px;}
.siderbar .block{display:block; margin-bottom:20px; display:inline-block; width:100%;}
.block .blockContent{
    background: none repeat scroll 0 0 #FFFFFF;
    text-align: left;
}
.block .blockContent ul {
    margin: 0;
}
.block .blockContent ul li{display:inline-block; width:100%; padding:5px 0;}
.block .blockContent ul li h4{margin:5px 0; color:#666;}
.block .blockContent ul li date{color:#BF3D3D;}
.recentPost.block .blockContent ul li a.thumbImg{float:left; margin:5px; padding:3px; background:#fff; border:1px solid #eee; width:60px; height:60px;}
.recentPost.block .blockContent ul li .minidetial{margin-left:70px;}
.recentPost.block .blockContent ul li .thumbImg img{width:100%;}
.minidetial{margin-left:70px;}
.block .blockContent .block-subtitle {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 9px;
    text-transform: uppercase;
}
.recentPost.block .blockContent ul li .minidetial i{color:#BF3D3D; margin:0 5px;}
.tagCloud.block .blockContent a{padding:5px; float:left; margin:3px; color:#fff; background:#666;}
.tagCloud.block .blockContent a:hover{ background:#BF3D3D;}
.photoCloud.block .blockContent .photoThumb{width:70px; height:70px; margin:5px; padding:2px; border:1px solid #e9e9e9; float:left;}
.photoCloud.block .blockContent .photoThumb img{width:100%;}

/*------Breadcrumbs------*/
.breadcrumbs {
	display:inline-block;
	width:100%;
	position:relative;
}
.breadcrumbs h2{
    float: left;
    margin: 0;
    padding: 20px 0;
	font-weight: 400;
}
ul#breadcrumb {
    float: right;
    margin: 30px 0;
}
ul#breadcrumb li {
    float: left;
    padding: 5px 0;
}
ul#breadcrumb li a{float:left; color:#BF3D3D;}
ul#breadcrumb li span{margin:0 15px; float:left;}
.breadcrumbs:before{
    border-bottom: 5px solid #FFFFFF;
    content: "";
    display: block;
    height: 0;
    width: 100%;
	position:absolute;
	top:0;
	left:0;
}
.breadcrumbs:after{
    border-top: 5px solid #FFFFFF;
    border-bottom: 1px solid #E7E6E6;
    content: "";
    display: block;
    height: 0;
    width: 100%;
	position:absolute;
	bottom:0;
	left:0;
}
/*------End breadcrumbs------*/

/*------Blog--------*/
.post {
    border-bottom: 1px solid #E6E6E6;
    display: inline-block;
    padding-bottom: 25px;
    position: relative;
	width:100%;
}
.postBox {
	width:100%;
	margin-bottom:10px;
	display:inline-block;
	position:relative;
}
.postBox:before {
    border: 0 none;
    border-radius: 100% 100% 100% 100%;
    bottom:5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    content: "";
    display: inline-block;
    height: 5px;
    left: 15%;
    position: absolute;
    width: 70%;
}
.postImgBox, .post .flexslider  {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.postImgBox:after{
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(0, 0, 0, 0.7);
	content:"";
	left:0;
	top:0;
	opacity:0;
	filter: alpha(opacity=0);
	-moz-transition: all 400ms ease-in-out 0s;
	-webkit-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
	transition: all 400ms ease-in-out 0s;
}
.postBox:hover .postImgBox:after{opacity:1; filter: alpha(opacity=100);}
.postBox.videoBox:hover .postImgBox:after{opacity:0; filter: alpha(opacity=0); display:none;}
.postImgBox img {
    float: left;
    width: 100%;
}
.post-date {
    background: none repeat scroll 0 0 #BF3D3D;
    color: #FFFFFF;
    display: inline-block;
    left: 10px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 10px;
}
.post-date date {
    display: inline-block;
    font-size: 35px;
    width: 100%;
}
/*post detail page*/
.post.postDetail .post-date date {
    display: inline-block;
    float: left;
    font-size: 20px;
    padding-right: 10px;
    width: auto;
}
.post.postDetail span, .post.postDetail i{
    float: left;
    padding-right: 5px;
    padding-top: 4px;
}
.post.postDetail .post-date {
    float: left;
    left: 0;
    margin-bottom: 10px;
    position: relative;
    top: 0;
}
.post .post-meta {
    margin-bottom: 25px;
    overflow: hidden;
}
.post-meta {
    float: left;
    margin-left: 20px;
    overflow: hidden;
}
.post-meta .user {
    color: #333333;
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 2px;
}
.post-meta .date {
    clear: left;
    color: #888888;
    float: left;
}
.post-meta .categories {
    color: #888888;
    float: left;
    margin-left: 5px;
}
.postDetailContent{display:inline-block; width:100%;}
.postImgLeft, .postImgRight{border:5px solid #fff; float:left; margin-right:20px; margin-bottom:20px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); max-width:40%;}
.postImgRight{float:right; margin-right:0px; margin-left:20px;}

/*post comment section*/
.userAvatar{float:left; border:5px solid #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); max-width:80px;}
.postCommentBox {
    float: none;
    margin-left: 110px;
}
.post.postDetail cite {
    display: inline-block;
    font-size: 17px;
    width: 100%;
}
.post.postDetail p{display:inline-block; width:100%; padding-top:15px;}
.post.postDetail blockquote{
	color: #747474;
	font-style:italic;
    background: none repeat scroll 0 0 #F5F5F5;
    border-left: 4px solid #BF3D3D;
    color: #444444;
    font: 13px/20px arial,helvetica,sans-serif;
    padding: 15px;
}
.post.postDetail .postPan{
    display: inline-block;
    width: 100%;
}
.postReply{width:100%; float:left; text-align:right;}
.postReply .button {
    font-size: 12px;
    padding: 3px 15px;
}
.inCol2{float:left; width:49%; padding-right:1%;}
.inCol3{float:left; width:32%; padding-right:1%;}
.inCol{float:left; width:99%; padding-right:1%;}
input.last{padding-right:0px;}
.rowSep{width:100%; display:inline-block;}
.extras-content a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #BF3D3D;
    display:none;
    padding: 14px 15px;
}
.postBox:hover .extras-content a{display:inline-block;}
.post .extras-content{
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}
.post .extras-content a i{color:#BF3D3D; padding:0px;}
/*------End blog--------*/

/*specer*/
.space10{display:inline-block; width:100%; padding:5px 0;}
.space15{display:inline-block; width:100%; padding:0 0 15px 0;}
.space20{display:inline-block; width:100%; padding:10px 0;}
.space25{display:inline-block; width:100%; padding:0 0 25px 0;}
.space30{display:inline-block; width:100%; padding:15px 0;}
.space50{display:inline-block; width:100%; padding:25px 0;}
.space {
    height:120px;
    width:100%;
	clear:both;
}

.half-space {
    height:60px;
    width:100%;
	clear:both;
}

/*-------Pagination---------*/
.paginationBox{display:inline-block; width:100%; padding:5px 0; text-align:center;}
ul.pagination{display:inline-block;}
ul.pagination li{float:left; margin-right:5px;}
ul.pagination li.active{background:#BF3D3D; color:#fff; padding:6px 10px; font-size: 10px; border:1px solid #BF3D3D;}
ul.pagination li a {
    border: 1px solid #E0DEDE;
    color: #747474;
    display: block;
    font-size: 10px;
    padding: 6px 10px;
    text-decoration: none;
}
ul.pagination li a:hover{color:#fff; background:#BF3D3D; border-color:#BF3D3D;}

/*------Skill progress bar------*/
.progressBg{
	margin-bottom:15px;
	background:#F8F8F8;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
	width:100%;
	display:inline-block;
}
.progressBar{
background: rgb(208,226,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(208,226,0,1) 0%, rgba(143,200,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,226,0,1)), color-stop(100%,rgba(143,200,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(208,226,0,1) 0%,rgba(143,200,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(208,226,0,1) 0%,rgba(143,200,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(208,226,0,1) 0%,rgba(143,200,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(208,226,0,1) 0%,rgba(143,200,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e200', endColorstr='#8fc800',GradientType=0 ); /* IE6-8 */
display:inline-block; width:100%; height:15px;
padding:8px 0;
position:relative;
float:left;
}
.progressBar strong {
    background-color: #333333;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: block;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 11px !important;
    line-height: 12px !important;
    padding: 4px 7px !important;
    position: absolute;
    right: -17px;
    top: -25px;
}
.progressBar strong:after {
    border-color: #333333 transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -5px;
    content: "";
    display: block;
    left: 12px;
    position: absolute;
    width: 0;
}
.skill-bar p {
    font-size: 13px;
    margin-bottom: 0;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
/*-----our team about us------*/
.ab-team img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
	-moz-box-sizing: border-box;
}
.ab-team cite{
    float: left;
    font-size: 13px;
}
.ab-team code{
    float:right;
    font-size: 13px;
}
.ab-team code a{float:left;}
.ab-team code i {
    color: #666666;
    float: left;
    font-size: 15px;
    margin: 0 5px;
}
.ab-team code i:hover{color:#BF3D3D;}
.ab-team p {
    border-top: 1px solid #DDDDDD;
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    text-align: left;
    width: 100%;
}
/*service info icons*/
.services_infoA a.serviceInfo{font-size:50px; color:#838487; padding-bottom:15px; display:inline-block;}
.services_infoA a.serviceInfo:hover{color:#BF3D3D;}
/*shop page*/
.shop-categroy{margin-top:20px; display:inline-block; width:100%; position:relative;}
.item{position:relative;}
.item img{width:100%;}
.itemInner{
    border:10px solid #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.s-col3.item {
    padding: 5px;
    text-align: left;
    width: 276px;
}
h3.product-name{
    color: #CCCCCC;
    font-size:15px;
    padding-top: 10px;
    text-align: center;
}
h3.product-name a{color:#484E50;}
.ic_caption{display:inline-block; width:100%; text-align:center;}
.price-box {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}
.regular-price{font-size:14px; color:#BF3D3D;}
.price-box p{ float:left; padding:0 5px; margin-bottom:0; font-size:14px;}
.price-box .price{font-size:14px; color:#BF3D3D;}
.old-price .price-label, .special-price .price-label{font-size:0px; display:none;}
.old-price .price{text-decoration: line-through; color:#ddd;}
.buttonox{margin-bottom:10px; display:inline-block; width:100%;}
.special-price .price{ font-weight:bold;}
.addBox{display:inline-block; margin-bottom:10px;}
.addBox a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
.no-rating{text-align:center;}
.product-image{
	position:relative;
    float: left;
	display:block;
}
.product-image img{width:100%;}
.product-image .front {
    backface-visibility: hidden;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out 0s;
}
.product-image .back {
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out 0s;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.product-image:hover .front {
    transform: rotateY(180deg);
}
.product-image:hover .back {
    position: absolute;
    transform: rotateX(0deg) rotateY(0deg);
    z-index: 10;
}
.badge {
    position: absolute;
    right: 0;
    top: -5px;
    z-index:60;
}
.new, .sale{
    background: none repeat scroll 0 0 #FFAA31;
    border-radius: 100% 100% 100% 100%;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
.item .sale{
    background:#6CBE42;
}
/*sidebar categories*/
.sideCategory.block .blockContent li{
    border-bottom: 1px solid #DDDDDD;
    padding:10px 0;
	width:auto;
	display:block;
}
.sideCategory.block .blockContent li.parent{
	position:relative;
}
.sideCategory.block .blockContent li > em {
    background: url("../images/mobileIcons.png") no-repeat scroll 12px -40px #eee;
    cursor: pointer;
    float: right;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 17px;
	height: 16px;
}
.sideCategory.block .blockContent li.active > em {
    background-position: -40px -83px;
}
.sideCategory.block .blockContent li.last{border-bottom:0px;}
.sideCategory.block .blockContent li a{color:#333333;}
.sideCategory.block .blockContent li li a{padding-left:15px;}

/*shop detail*/
.shop-detail {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.product-image-zoom img{width:100%; float:left;}
.product-image-zoom {
    border: 10px solid #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    float: left;
    width: 450px;
	margin:0px;
}
.moreView ul li {
    float: left;
    width: 90px;
	margin:5px;
}
.moreView ul li a{display:block;}
.moreView {
    border: 10px solid #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    float: left;
    margin: 15px 0 0;
    padding: 0;
    position: relative;
    width: 450px;
}
.moreView ul li img{width:100%;}
.product-img-box {
    float: left;
    position: relative;
    width: 470px;
}
.moreView .prev {
    left: -36px;
    margin-top: -16px;
    top: 67px;
}
.moreView .next {
    right: -35px;
    top: 44px;
}
.badge-pro {
    left: -15px;
    position: absolute;
    top: -15px;
    z-index:1;
}
.product-shop{
    float: left;
    margin-left: 20px;
    width: 390px;
}
.ratings {
    margin: 10px 0;
    line-height: 1.0833em;
    margin: 15px 0;
}
.ratings .rating-box {
    float: left;
    margin-right: 8px;
}
.rating-box {
    background: url("../images/rating.png") repeat-x scroll 0 0 transparent;
    font-size: 0;
    height: 13px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 69px;
}
.rating-box .rating {
    background: url("../images/rating.png") repeat-x scroll 0 100% transparent;
    float: left;
    height: 13px;
}
.availability.in-stock span {
    background: url("../images/local.png") no-repeat scroll 4px -624px #A0CE62;
    color: #FFFFFF;
    padding: 5px 10px 5px 22px;
}
.add-to-cart {
    float: left;
    padding: 10px 0;
}
.qty_pan input{
    text-align: center;
    width: 60px;
}
.qty_pan {
    float: left;
    margin-right: 10px;
    padding: 0 20px;
    position: relative;
}
.add-to-cart label{
    float: left;
    margin: 18px 10px;
}
.add {
    cursor: pointer;
    left: 2px;
    padding: 5px;
    position: absolute;
    top: 13px;
}
.dec {
    cursor: pointer;
    right: 2px;
    padding: 5px;
    position: absolute;
    top: 13px;
}
.add-to-box button{margin-top:6px;}
.price_box {
    margin: 20px 0 15px;
}
.price_box .price-box .price {
    color: #BF3D3D;
    font-size: 25px;
}
.pro-left select{margin-bottom:10px;}
.zoomBtn {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    cursor: pointer;
    left: 0;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.zoomBtn:hover{background:#BF3D3D; color:#fff;}
h4.subtitle{
    color: #BF3D3D;
    font: 400 18px/1.3 'Source Sans Pro',sans-serif;
    margin-bottom: 10px;
    padding: 5px 0;
}
.commonTab {
    display: inline-block;
    float: left;
    width: 100%;
}
.commonTab li{
    background:#E6E6E6;
    color: #FFFFFF;
    float: left;
	margin-right:1px;
}
.commonTab li a{color:#333; padding: 10px 15px; display:block;}
.commonTab li a:hover, .commonTab li a.active{background:#BF3D3D; color:#fff;}
.productTab{
    border: 1px solid #E6E6E6;
    display: block;
    float: left;
    padding: 10px;
}
.data-table .odd {
    background: none repeat scroll 0 0 #F8F7F5;
}
.data-table tbody th, .data-table tbody td {
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    vertical-align: middle;
}
.data-table td.last, .data-table th.last {
    border-right: 0 none;
}
.data-table .even {
    background: none repeat scroll 0 0 #EEEDED;
}
.data-table th {
    font-weight: bold;
    padding: 8px;
	text-align:left;
}
.data-table td {
    padding: 8px;
	text-align:left;
}
.product-scroller{
    margin: 15px 0;
    padding: 10px 0;
    width: 100%;
	float:left;
}
.product-scroller .item {
    float: left;
    margin:10px 5px;
    position: relative;
}
.related_product{position:relative;}
.product-scroller .prev{
    display: block;
    right: 25px;
}
.product-scroller .itemInner {
    margin: 2px;
}
/*login page*/
.login_box {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: normal;
    margin: 5em auto;
    padding: 16px;
    width: 600px;
}
.login-heading{
    background: none repeat scroll 0 0 #BF3D3D;
    color: #FFFFFF;
    font: 200 25px/1.3 'Source Sans Pro',sans-serif;
    padding: 20px;
    text-align: center;
}
.login_box .input-box span {
    background: none repeat scroll 0 0 #BF3D3D;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    width: 30px;
}
.login_box .input-box input{
    margin: 0;
    padding: 16px;
    width: 515px;
}
.login_box .input-box{
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}
.login-buttons-set {
    border-top: 1px solid #E6E6E6;
    display: inline-block;
    padding-top: 10px;
    width: 100%;
}
p.required {
    color: #EB340A;
    font-size: 11px;
    text-align: right;
}
.col-leftIn{margin-top:25px;}

/*alert icons*/
.errormsg {
    background-color: #F9D9D9;
    color: #AA4343;
}
.successmsg {
    background-color: #D8F1C6;
    color: #769958;
}
.infomsg {
    background-color: #D7E3F4;
    color: #728095;
}
.noticemsg {
    background-color: #FBF4DD;
    color: #A38C68;
}
.alert {
    display: inline-block;
    font-size: 14px;
    margin-bottom:0;
    padding: 14px 0;
    position: relative;
    width: 100%;
}
.alert i {
    float: left;
    margin: 3px 20px 0;
}
.alert p {
    margin: 1px 55px 0;
    text-align: left;
}
.removeAlert {
    position: absolute;
    right: 0;
    top: 12px;
}
#back-top {
    bottom: 20px;
    position: fixed;
    right: 10px;
}
.goTop a {
    background: none repeat scroll 0 0 #BF3D3D;
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    height: 39px;
    line-height: 45px;
    text-align: center;
    width: 39px;
}
.goTop a:hover {
    background: none repeat scroll 0 0 #ddd;
    color: #000;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset;
}
.promoBanner img{width:100%;}
/*contact*/
.contactInfo.block .blockContent ul li {
    display: inline-block;
    font-size: 14px;
    padding: 5px 0;
    width: 100%;
}
.contactInfo.block .blockContent ul li i{padding-right:10px;}

/*parallex*/
.parallex .logo {
    display: block;
    float: left;
    margin: 10px;
    text-align: center;
    width: 110px;
}
.parallex .logo img{
    width: 100%;
}
.parallex #menu {
    border-top: medium none;
    display: block;
    float: right;
    margin: -1px 0 0;
    padding: 0;
    width: auto;
}
.home .parallex #menu .sf-menu > li > a{
    border: medium none;
    height: auto;
    line-height: 35px;
    padding: 45px 30px;
	border:none;
	display:block;
}
.parallex #menu > ul {
    margin: 1px 0 0;
}
.home .parallex #menu{border:none;}
#header .parallex {
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}
.fixMenu{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
	-webkit-transform: translateZ(0);
    z-index: 15000;
}
.sf-menu > li.active:after, .sf-menu > li:hover a:after{
    background: none repeat scroll 0 0 transparent;
    border-color: #BF3D3D transparent transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: inline-block;
    height: 0;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 0;
    width: 0;
}
.sf-menu > li.active li:after, .sf-menu > li:hover li a:after{
	border:none;
}
#menu .active > a {
	border-top-color: #BF3D3D;
	color: #BF3D3D;
	background:#f9f9f9;
}
.breadcrumbs.parallex {
    height:300px;
	box-shadow: none;
	text-align:center;
}
.breadcrumbs.parallex ul#breadcrumb {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    display: inline-block;
    float: none;
    margin: 0;
    padding: 10px 25px;
    text-align: center;
}
.breadcrumbsOut{display:inline-block; width:100%;}
.breadcrumbs.portfolioBox {
	background:url(../images/parallaxBg/bg1.jpg) no-repeat fixed;
	width:100%;
    background-size:1600px 800px;
}
.breadcrumbs.blog {
	background:url(../images/parallaxBg/bg2.jpg) no-repeat left top;
	width:100%;
	background-attachment:fixed;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.breadcrumbs.about {
	background:url(../images/parallaxBg/bg3.jpg) no-repeat left top;
	width:100%;
	background-attachment:fixed;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.breadcrumbs.shortcodes {
	background:url(../images/parallaxBg/bg4.jpg) no-repeat left top;
	width:100%;
	background-attachment:fixed;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.breadcrumbs.shop {
	background:url(../images/parallaxBg/bg5.jpg) no-repeat left top;
	width:100%;
	background-attachment:fixed;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.breadcrumbs.contact {
	background:url(../images/parallaxBg/bg6.jpg) no-repeat left top;
	width:100%;
	background-attachment:fixed;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.breadcrumbs.parallex h2 {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    display: inline-block;
    float: none;
    font-weight: 400;
    margin: 80px 0 10px;
    padding: 20px 50px;
}